<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <meta name="theme-color" content="#4285f4"></head>
<div class="appSideNavOverlay">
    <div class="appSideNav">
        <span class="close-thick js_hamburger_"></span>
        <div class="logoIcon" style="margin-bottom:30px;"></div>
        <a href="/">Landing</a>
    </div>
</div>
<div class="cFab">&#9650;</div>
<div class="appHero">
</div>
<div class="appNavigation">
    <ul class="menu">
        <li class="disabled_">
            <a class="">
                <img src="/images/microLogo.jpg" class="navLogo" alt="">
            </a>
        </li>
    </ul>
    <ul class="menu">
        <li class="active">
            <a href="/" class="lnk">
                <span class="label">Home&thinsp;</span>
                <i class="fas fa-cannabis"></i>
            </a>
        </li><li class="">
        <a href="/all-gadgets" class="lnk">
            <span class="label">About&thinsp;</span>
            <i class="fas fa-cogs"></i>
        </a>
    </li><li class="">
        <div class="dropdown">
            <a class="lnk dropBtn">Demos&thinsp;<i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content" style="left:0;">
                <a class="dropLnk " href="/routes-mapping"><i class="fas fa-star"></i>&thinsp;Demo One</a>
                <a class="dropLnk " href="/php-raw-form"><i class="fas fa-star"></i>&thinsp;Demo One</a>
                <a class="dropLnk " href="/api/autocomplete"><i class="fas fa-cogs"></i>&thinsp;Demo One</a>
                <a class="dropLnk " href="/image-b64-convertor"><i class="fas fa-star"></i>&thinsp;Demo Two</a>
                <a class="dropLnk " href="/countries-data"><i class="fas fa-car"></i>&thinsp;Demo Tree</a>
            </div>
        </div>
    </li>

    </ul>
    <ul class="menu admin">
        <li>
            <div class="dropdown">
                <a class="lnk dropBtn"><span class="drop_language pt"></span></a>
                <div class="dropdown-content" style="right:0;">
                    <a class="dropLnk " href="">
                        <div class="language pt">&emsp;Portuguese </div>
                    </a>
                    <a class="dropLnk active" href="">
                        <div class="language en">&emsp;English</div>
                    </a>
                    <a class="dropLnk " href="">
                        <div class="language fr">&emsp;French</div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <a href="/api/auth/create" class="lnk">
                <span class="label">Register&thinsp;</span>
                <i class="fas fa-user-plus"></i>
            </a>
        </li><li class="">
        <a href="/api/auth" class="lnk">
            <span class="label">LogIn&thinsp;</span>
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </li>
    </ul>
    <ul class="menu responsive">
        <li>
            <a class="lnk">
                <span class="js_hamburger" style="font-size: 1.4rem">&#9776;</span>
            </a>
        </li>
    </ul>
</div>
<div class="container appContent">
    <div class="row">
        <div class="col-12">
            <h4>Lorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores autem, dolore est eveniet facilis illum incidunt labore laborum minima, modi nobis quae ratione repellendus sit temporibus tenetur veritatis!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores autem, dolore est eveniet facilis illum incidunt labore laborum minima, modi nobis quae ratione repellendus sit temporibus tenetur veritatis!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores autem, dolore est eveniet facilis illum incidunt labore laborum minima, modi nobis quae ratione repellendus sit temporibus tenetur veritatis!</p>
        </div>
    </div>
</div>
<div class="appFooter">
    <span>&#174;&emsp;MicroPHP - </span>
</div>
</html>